
body {
  width: 100%;
  margin: 0 auto;
  font: 1em sans-serif;
  color: rgb(14, 12, 12);
  background-color: rgb(227, 227, 243);
  padding: 5px;	
  font-size: 16px;	
  
}  

#contenedor-header {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  padding: 0.125rem;
  background-color:white;
  border-radius: 1.875rem;
  border:solid;
  
  }


header{
  display: flex;    
  justify-content: center;
  min-height: 4.6875rem;
  padding: 0.625rem;  
  align-items: center;
  background: linear-gradient(to bottom, rgb(67, 67, 168), rgb(193, 190, 200));
  border-radius: 1.875rem;
  
}


h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3.125rem;
  color: cornsilk;   
  text-align: center;
  margin-left: 22%;
  margin-top: 0.125rem;
  
}

.logo {
  display: flex;
  margin-top: 1.875rem;
  margin-left: 2%;   
}

.logo #header-img {
  height: 40%;
  width: 30%; 
  margin-top: 0.625rem;
}

nav {
  height: 80%;
  width: 100%;
}

nav > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0.5rem;
}


a {
  color: rgb(213, 214, 238);  
  text-decoration: underline;
  text-decoration-style: solid;
  padding: 0.5rem;
   
}

.contenedor-email {
  max-width: 43.75rem;
  width: 100%;
  margin: auto;
}

h2 {
  margin-top: 5%;
  margin-bottom: 7%;
  text-align: center;
  
}

.contenedor-email #form {
  height: 200%;
  width: 150%;
  margin-left: 9.375rem;
  
}

input #email { 
  max-width: 18.75rem;
  width: 15.625rem;
  padding: 0.3125rem;

} 

.contenedor-email #submit {
  max-width: 9.375rem;
  width: 100%;
  height: 1.875rem;
  margin: 0.9375rem 0;
  border: 100%;    
  background-color: rgb(54, 54, 138);
  color:white;

}


  #video {
    text-align: center;
    
} 

#pagina-destino {
  height: auto;
  width: auto;
  margin: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: -8%; 
  
}




.imagenes-relojes {
  margin: 1%;
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: center;
  align-items: center;
  padding: 0.625rem;

} 




#reloj-hombres-img {
  height: 15.625rem;
  width: 15%;
  padding: 80px;
  margin-left: 5%;
  margin-top: 1%;
   

}
  
 

#reloj-mujeres-img {
  height: 15.625rem;
  width: 15%;
  padding: 80px;
  margin-left: 4%;
  margin-top: 1%;
  
  
  
}

#reloj-niños-img {
  height: 15.625rem;
  width: 15%;
  padding: 80px;
  margin-left: 3%;
  margin-top: 1%; 
  
}

@media (max-width: 992 px) {

  body {
    font-size: 13px;
  }
  
  }
     


@media (max-width: 768 px) {
  body {
    font-size: 10px;
  }
  

}

@media (max-width 576 px) {
  body {
    font-size: 7px;
  }
  
}
  

@media (max-width : 480px) {
  body {
    font-size: 4px;
  }
  

          
}
  
    
    















 

  

  
  
  

 


